## Benchmark Top ML Algorithms

### Dataset
Predict Loan Eligibility for Dream Housing Finance company


### ML algorithms
- Decision Tree
- KNN
- Logistic Regression
- SVM
- Random Forest

### Using GridSearchCV for finding the best model with the best hyperparameters

- ### Build models
- ### Create Parameter Grid
- ### Run GridSearchCV
- ### Choose the best model with the best hyperparameter
- ### Give the best accuracy
- ### Also, benchmark the best accuracy that you could get for every classification algorithm asked above

## Importing Data

In [2]:
import pandas as pd
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as ss
from collections import Counter
import math
from scipy import stats
url= "https://raw.githubusercontent.com/subashgandyer/datasets/main/loan_train.csv"
df = pd.read_csv(url)
df_transform = pd.DataFrame(data=df)
df_transform

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

## Finding The Completeness of The Dataset

In [4]:
for i in range(len(df.columns)):
    missing_data = df[df.columns[i]].isna().sum()
    perc = missing_data / len(df) * 100
    print(f'Feature {i+1} >> Missing entries: {missing_data}  |  Percentage: {round(perc, 2)}')

Feature 1 >> Missing entries: 0  |  Percentage: 0.0
Feature 2 >> Missing entries: 13  |  Percentage: 2.12
Feature 3 >> Missing entries: 3  |  Percentage: 0.49
Feature 4 >> Missing entries: 15  |  Percentage: 2.44
Feature 5 >> Missing entries: 0  |  Percentage: 0.0
Feature 6 >> Missing entries: 32  |  Percentage: 5.21
Feature 7 >> Missing entries: 0  |  Percentage: 0.0
Feature 8 >> Missing entries: 0  |  Percentage: 0.0
Feature 9 >> Missing entries: 22  |  Percentage: 3.58
Feature 10 >> Missing entries: 14  |  Percentage: 2.28
Feature 11 >> Missing entries: 50  |  Percentage: 8.14
Feature 12 >> Missing entries: 0  |  Percentage: 0.0
Feature 13 >> Missing entries: 0  |  Percentage: 0.0

## Cleaning Dataset

In [5]:
cleaned_data = df_transform.dropna(axis = 0, how ='any') 
cleaned_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [7]:
for i in range(len(cleaned_data.columns)):
    missing_data =cleaned_data[cleaned_data.columns[i]].isna().sum()
    perc = missing_data / len(df) * 100
    print(f'Feature {i+1} >> Missing entries: {missing_data}  |  Percentage: {round(perc, 2)}')

Feature 1 >> Missing entries: 0  |  Percentage: 0.0
Feature 2 >> Missing entries: 0  |  Percentage: 0.0
Feature 3 >> Missing entries: 0  |  Percentage: 0.0
Feature 4 >> Missing entries: 0  |  Percentage: 0.0
Feature 5 >> Missing entries: 0  |  Percentage: 0.0
Feature 6 >> Missing entries: 0  |  Percentage: 0.0
Feature 7 >> Missing entries: 0  |  Percentage: 0.0
Feature 8 >> Missing entries: 0  |  Percentage: 0.0
Feature 9 >> Missing entries: 0  |  Percentage: 0.0
Feature 10 >> Missing entries: 0  |  Percentage: 0.0
Feature 11 >> Missing entries: 0  |  Percentage: 0.0
Feature 12 >> Missing entries: 0  |  Percentage: 0.0
Feature 13 >> Missing entries: 0  |  Percentage: 0.0

## Using Label Encoder to Convert Dataset to an Acceptable Form

In [8]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

cleaned_data['Gender_Clean']= label_encoder.fit_transform(cleaned_data['Gender'])
cleaned_data['Married_Clean']= label_encoder.fit_transform(cleaned_data['Married']) 
cleaned_data['Dependents_Clean']= label_encoder.fit_transform(cleaned_data['Dependents'])
cleaned_data['Education_Clean']= label_encoder.fit_transform(cleaned_data['Education'])
cleaned_data['Self_Employed_Clean']= label_encoder.fit_transform(cleaned_data['Self_Employed'])
cleaned_data['Property_Area_Clean']= label_encoder.fit_transform(cleaned_data['Property_Area'])
cleaned_data['Loan_Status_Clean']= label_encoder.fit_transform(cleaned_data['Loan_Status'])

<ipython-input-8-7412455aab7a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Gender_Clean']= label_encoder.fit_transform(cleaned_data['Gender'])
<ipython-input-8-7412455aab7a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Married_Clean']= label_encoder.fit_transform(cleaned_data['Married'])
<ipython-input-8-7412455aab7a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Dependents_Clean']= label_encoder.fit_transform(cleaned_data['Dependents'])
<ipython-input-8-7412455aab7a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Education_Clean']= label_encoder.fit_transform(cleaned_data['Education'])
<ipython-input-8-7412455aab7a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Self_Employed_Clean']= label_encoder.fit_transform(cleaned_data['Self_Employed'])
<ipython-input-8-7412455aab7a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Property_Area_Clean']= label_encoder.fit_transform(cleaned_data['Property_Area'])
<ipython-input-8-7412455aab7a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['Loan_Status_Clean']= label_encoder.fit_transform(cleaned_data['Loan_Status'])

In [9]:
cleaned_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Clean,Married_Clean,Dependents_Clean,Education_Clean,Self_Employed_Clean,Property_Area_Clean,Loan_Status_Clean
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,1,1,1,0,0,0,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,1,1,0,0,1,2,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,1,1,0,1,0,2,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,1,0,0,0,0,2,1
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y,1,1,2,0,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y,0,0,0,0,0,0,1
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y,1,1,3,0,0,0,1
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y,1,1,1,0,0,2,1
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y,1,1,2,0,0,2,1
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,0,0,0,0,1,1,0

In [10]:
data=cleaned_data.drop(['Gender','Married', 'Loan_ID','Dependents','Education','Self_Employed','Property_Area','Loan_Status'], axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ApplicantIncome      480 non-null    int64
 1   CoapplicantIncome    480 non-null    float64
 2   LoanAmount           480 non-null    float64
 3   Loan_Amount_Term     480 non-null    float64
 4   Credit_History       480 non-null    float64
 5   Gender_Clean         480 non-null    int32
 6   Married_Clean        480 non-null    int32
 7   Dependents_Clean     480 non-null    int32
 8   Education_Clean      480 non-null    int32
 9   Self_Employed_Clean  480 non-null    int32
 10  Property_Area_Clean  480 non-null    int32
 11  Loan_Status_Clean    480 non-null    int32
dtypes: float64(4), int32(7), int64(1)
memory usage: 35.6 KB

## Train Test Split

In [11]:
from sklearn.model_selection import train_test_split
labels = np.array(data.pop('Loan_Status_Clean'))
X, X_test, y, y_test = train_test_split(data, labels, stratify = labels, test_size = 0.1, random_state = 43)

In [12]:
X.shape,y.shape,X_test.shape, y_test.shape

((432, 11), (432,), (48, 11), (48,))

## DecisionTreeClassifier

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
tree_par= {'criterion' :['gini','entropy'], 
           'max_depth': range(1,10),
           'min_samples_leaf' : range(1,5), 
           'min_samples_split':range(1,10)
          }
from sklearn.model_selection import GridSearchCV
tree = DecisionTreeClassifier()
grid_tree= GridSearchCV(tree, param_grid= tree_par,scoring='accuracy', cv=10,n_jobs=-1)
grid_tree.fit(X,y)

DT_acc=grid_tree.best_score_
DT_par=grid_tree.best_params_
DT_par

C:\Users\lakki\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [       nan 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915
 0.81479915 0.81479915 0.81479915        nan 0.81479915 0.81479915
 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915
        nan 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915
 0.81479915 0.81479915 0.81479915        nan 0.81479915 0.81479915
 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915
        nan 0.80327696 0.80327696 0.80327696 0.80327696 0.80327696
 0.80327696 0.80327696 0.80327696        nan 0.80560254 0.80560254
 0.80560254 0.80560254 0.80560254 0.80560254 0.80560254 0.80560254
        nan 0.80327696 0.80327696 0.80327696 0.80327696 0.80327696
 0.80327696 0.80327696 0.80327696        nan 0.80327696 0.80327696
 0.80327696 0.80327696 0.80327696 0.80327696 0.80327696 0.80327696
        nan 0.80327696 0.80327696 0.80327696 0.80327696 0.80327696
 0.79862579 0.79862579 0.79862579        nan 0.80560254 0.80560254
 0.80560254 0.80560254 0.80560254 0.80095137 0.80095137 0.80095137
        nan 0.79867865 0.79402748 0.79867865 0.79635307 0.79402748
 0.79402748 0.79402748 0.7917019         nan 0.7917019  0.79402748
 0.7917019  0.79402748 0.79402748 0.79402748 0.7917019  0.79402748
        nan 0.7801797  0.77785412 0.7801797  0.77785412 0.7801797
 0.77320296 0.77087738 0.77087738        nan 0.78250529 0.78250529
 0.7801797  0.7801797  0.78250529 0.77552854 0.77320296 0.77320296
        nan 0.77780127 0.78245243 0.77547569 0.78012685 0.78012685
 0.77315011 0.77315011 0.77315011        nan 0.76400634 0.76400634
 0.76633192 0.76633192 0.76633192 0.76627907 0.76860465 0.76633192
        nan 0.78472516 0.78927061 0.79159619 0.79159619 0.79159619
 0.78694503 0.77996829 0.77996829        nan 0.79392178 0.79159619
 0.79159619 0.79392178 0.79159619 0.78694503 0.78229387 0.77996829
        nan 0.77547569 0.77082452 0.77309725 0.77309725 0.77077167
 0.76849894 0.76612051 0.76612051        nan 0.76390063 0.76390063
 0.76162791 0.76390063 0.76162791 0.76390063 0.75930233 0.76162791
        nan 0.79386892 0.78927061 0.79852008 0.79392178 0.80089852
 0.78699789 0.78229387 0.7845666         nan 0.79624736 0.79630021
 0.79154334 0.79852008 0.79624736 0.79164905 0.78229387 0.79154334
        nan 0.75465116 0.77082452 0.76627907 0.76622622 0.76157505
 0.75232558 0.75459831 0.75459831        nan 0.74312896 0.74085624
 0.74783298 0.75010571 0.74545455 0.74545455 0.74312896 0.74772727
        nan 0.78461945 0.7845666  0.78689218 0.7891649  0.78461945
 0.7845666  0.77526427 0.77758985        nan 0.78927061 0.7845666
 0.78921776 0.77531712 0.78694503 0.78451374 0.78218816 0.78218816
        nan 0.72901691 0.72906977 0.72906977 0.72209302 0.72674419
 0.71744186 0.7243129  0.7244186         nan 0.71511628 0.71749471
 0.71511628 0.71744186 0.71294926 0.71754757 0.71062368 0.72674419
        nan 0.76839323 0.7660148  0.77531712 0.76839323 0.77061311
 0.7660148  0.76363636 0.76136364        nan 0.77991543 0.78229387
 0.77293869 0.76136364 0.77758985 0.76834038 0.76136364 0.75206131
        nan 0.7038055  0.7038055  0.71072939 0.7038055  0.70613108
 0.70840381 0.7038055  0.71078224        nan 0.68990486 0.70618393
 0.70391121 0.69223044 0.69001057 0.70153277 0.70153277 0.69920719
        nan 0.76617336 0.76157505 0.76844609 0.75687104 0.75216702
 0.75216702 0.74756871 0.74989429        nan 0.77785412 0.76157505
 0.77082452 0.76622622 0.76617336 0.76146934 0.75919662 0.76146934
        nan 0.72478858 0.72478858 0.71559197 0.71088795 0.71553911
 0.71553911 0.72019027 0.7154334         nan 0.6807611  0.67843552
 0.66913319 0.68308668 0.68303383 0.68308668 0.67605708 0.67616279
        nan 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915
 0.81479915 0.81479915 0.81479915        nan 0.81479915 0.81479915
 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915
        nan 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915
 0.81479915 0.81479915 0.81479915        nan 0.81479915 0.81479915
 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915 0.81479915
        nan 0.80792812 0.80792812 0.80792812 0.80792812 0.80792812
 0.80792812 0.80792812 0.80792812        nan 0.8102537  0.8102537
 0.8102537  0.8102537  0.8102537  0.8102537  0.8102537  0.8102537
        nan 0.80560254 0.80560254 0.80560254 0.80560254 0.80560254
 0.80560254 0.80560254 0.80560254        nan 0.80560254 0.80560254
 0.80560254 0.80560254 0.80560254 0.80560254 0.80560254 0.80560254
        nan 0.78715645 0.78715645 0.78715645 0.78715645 0.78715645
 0.78715645 0.78715645 0.78715645        nan 0.78948203 0.78948203
 0.78948203 0.78948203 0.78948203 0.78948203 0.78948203 0.78948203
        nan 0.78948203 0.78715645 0.78948203 0.78715645 0.78715645
 0.78483087 0.78483087 0.78483087        nan 0.78483087 0.78483087
 0.78483087 0.78483087 0.78483087 0.78483087 0.78483087 0.78483087
        nan 0.78239958 0.78239958 0.78239958 0.780074   0.78239958
 0.77774841 0.77542283 0.77542283        nan 0.78705074 0.78705074
 0.78705074 0.78705074 0.78705074 0.78239958 0.780074   0.780074
        nan 0.78477801 0.78012685 0.78472516 0.78472516 0.78472516
 0.780074   0.77547569 0.77774841        nan 0.77780127 0.77780127
 0.77780127 0.77552854 0.77552854 0.77552854 0.77552854 0.77780127
        nan 0.79159619 0.78927061 0.79624736 0.79624736 0.78927061
 0.78461945 0.78461945 0.77996829        nan 0.79624736 0.79159619
 0.79392178 0.79159619 0.78694503 0.78927061 0.78229387 0.78229387
        nan 0.7685518  0.76622622 0.76627907 0.76162791 0.76622622
 0.75465116 0.75237844 0.75465116        nan 0.75475687 0.75475687
 0.75010571 0.75010571 0.75475687 0.75010571 0.75475687 0.75010571
        nan 0.7845666  0.78461945 0.78229387 0.77764271 0.78224101
 0.77996829 0.77293869 0.77061311        nan 0.77991543 0.77526427
 0.77066596 0.77293869 0.76834038 0.76834038 0.76363636 0.77061311
        nan 0.74756871 0.75216702 0.74756871 0.74994715 0.75681818
 0.74762156 0.74064482 0.74994715        nan 0.73377378 0.73150106
 0.73377378 0.73377378 0.73377378 0.73377378 0.73377378 0.73615222
        nan 0.78234672 0.7846723  0.78461945 0.78694503 0.78461945
 0.77769556 0.77066596 0.77066596        nan 0.77531712 0.77531712
 0.77764271 0.77531712 0.77071882 0.76606765 0.7660148  0.77299154
        nan 0.73842495 0.73837209 0.74534884 0.74075053 0.73604651
 0.73377378 0.72690275 0.73609937        nan 0.71538055 0.71775899
 0.72003171 0.71775899 0.71775899 0.71775899 0.72003171 0.72003171
        nan 0.77547569 0.77082452 0.77309725 0.77774841 0.77309725
 0.76617336 0.75914376 0.75914376        nan 0.75919662 0.75914376
 0.76141649 0.75454545 0.75909091 0.75216702 0.74756871 0.75454545
        nan 0.71997886 0.71538055 0.71765328 0.72230444 0.71770613
 0.70845666 0.70613108 0.7153277         nan 0.69217759 0.68985201
 0.68535941 0.68303383 0.68530655 0.68530655 0.68990486 0.69450317
        nan 0.75010571 0.75005285 0.75459831 0.75465116 0.75227273
 0.74767442 0.74064482 0.73609937        nan 0.73609937 0.73842495
 0.73377378 0.73377378 0.72917548 0.71987315 0.72447146 0.73831924
        nan 0.70369979 0.71067653 0.71294926 0.70364693 0.70602537
 0.69450317 0.69910148 0.70142706        nan 0.68303383 0.67843552
 0.68530655 0.67843552 0.68303383 0.6807611  0.68530655 0.68535941]
  warnings.warn(

{'criterion': 'gini',
 'max_depth': 1,
 'min_samples_leaf': 1,
 'min_samples_split': 2}

In [14]:

tree = DecisionTreeClassifier(criterion= 'gini',
 max_depth= 1,
 min_samples_leaf= 1,
 min_samples_split= 2)
tree.fit(X, y)
y_pred=tree.predict(X_test)
DT_accuracy= accuracy_score(y_test, y_pred)
DT_accuracy

0.75

## KNeighborsClassifier

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
neigh = KNeighborsClassifier()

In [17]:
knn_par={'n_neighbors': range(1,20), 'weights': ['uniform','distance'],'metric': ['euclidean','manhattan']}
grid_knn=GridSearchCV(neigh, knn_par,scoring='accuracy', cv=10,n_jobs=-1)
grid_knn.fit(X,y)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'metric': ['euclidean', 'manhattan'],
                         'n_neighbors': range(1, 20),
                         'weights': ['uniform', 'distance']},
             scoring='accuracy')

In [18]:
knn_acc=grid_knn.best_score_
knn_par=grid_knn.best_params_
knn_par

{'metric': 'manhattan', 'n_neighbors': 14, 'weights': 'uniform'}

In [19]:
neigh = KNeighborsClassifier(metric= 'manhattan', n_neighbors= 14, weights= 'uniform')
neigh.fit(X,y)
y_pred=neigh.predict(X_test)
knn_accuracy= accuracy_score(y_test, y_pred)
knn_accuracy

0.6666666666666666

## LogisticRegression

In [20]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr_par={"C":np.logspace(-3,3,7), "penalty":["l1","l2"]}
grid_LR=GridSearchCV(lr, lr_par,scoring='accuracy', cv=10,n_jobs=-1)
grid_LR.fit(X,y)

C:\Users\lakki\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [       nan 0.68752643        nan 0.69217759        nan 0.8032241
        nan 0.81014799        nan 0.81247357        nan 0.81014799
        nan 0.80782241]
  warnings.warn(

GridSearchCV(cv=10, estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'C': array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03]),
                         'penalty': ['l1', 'l2']},
             scoring='accuracy')

In [21]:
LR_acc=grid_LR.best_score_
LR_par=grid_LR.best_params_
LR_par

{'C': 10.0, 'penalty': 'l2'}

In [22]:
lr =LogisticRegression(C= 10.0, penalty= 'l2')
lr.fit(X,y)
y_pred=lr.predict(X_test)
lr_accuracy= accuracy_score(y_test, y_pred)
lr_accuracy

0.75

## Support Vector Machine

In [23]:
from sklearn import svm
svc = svm.SVC()
svc_par={'kernel':('linear', 'rbf'), 'C':[1, 10]}
grid_svc=GridSearchCV(svc, svc_par)

grid_svc.fit(X,y)

GridSearchCV(estimator=SVC(),
             param_grid={'C': [1, 10], 'kernel': ('linear', 'rbf')})

In [24]:
svm_acc=grid_svc.best_score_
svm_par=grid_svc.best_params_
svm_par

{'C': 10, 'kernel': 'linear'}

In [25]:
svc = svm.SVC(C= 10, kernel= 'linear')
svc.fit(X,y)
y_pred=svc.predict(X_test)
svn_accuracy= accuracy_score(y_test, y_pred)
svn_accuracy

0.7708333333333334

## Random Forest Classifaction

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf_dis = { 'n_estimators': [int(x) for x in np.linspace(start = 10, stop = 200, num = 10)],
            'max_depth' : [int(x) for x in np.linspace(start = 3, stop = 20 , num = 1)],
          'max_features' : ['auto', 'sqrt', None] + list(np.arange(0.5, 1, 0.1)),
          'max_leaf_nodes' : [int(x) for x in np.linspace(start = 10, stop = 50, num = 5)],
          'min_samples_split' : [2,5,10],
          'bootstrap' : [True, False]
         }
grid_rf=GridSearchCV(rf, rf_dis,scoring='accuracy', cv=10,n_jobs=-1)

grid_rf.fit(X,y)

GridSearchCV(cv=10, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True, False], 'max_depth': [3],
                         'max_features': ['auto', 'sqrt', None, 0.5, 0.6, 0.7,
                                          0.7999999999999999,
                                          0.8999999999999999],
                         'max_leaf_nodes': [10, 20, 30, 40, 50],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [10, 31, 52, 73, 94, 115, 136, 157,
                                          178, 200]},
             scoring='accuracy')

In [27]:
rf_acc=grid_rf.best_score_
rf_par=grid_rf.best_params_
rf_par

{'bootstrap': True,
 'max_depth': 3,
 'max_features': 'auto',
 'max_leaf_nodes': 20,
 'min_samples_split': 10,
 'n_estimators': 10}

In [28]:
rf=RandomForestClassifier(bootstrap= True,
 max_depth= 3,
 max_features= 'auto',
 max_leaf_nodes= 30,
 min_samples_split= 2,
 n_estimators= 31)
rf.fit(X,y)
y_pred=rf.predict(X_test)
rf_accuracy= accuracy_score(y_test, y_pred)
rf_accuracy

0.75

## Naive Bayes

In [29]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
params_NB = {'var_smoothing': np.logspace(0,-9, num=100)}
grid_nb=GridSearchCV(gnb,params_NB ,scoring='accuracy', cv=10,n_jobs=-1)
grid_nb.fit(X,y)

GridSearchCV(cv=10, estimator=GaussianNB(), n_jobs=-1,
             param_grid={'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,
       3.51119173e-02, 2.848035...
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])},
             scoring='accuracy')

In [30]:
nb_acc=grid_nb.best_score_
nb_par=grid_nb.best_params_
nb_par

{'var_smoothing': 1.873817422860387e-09}

In [31]:
gnb = GaussianNB(var_smoothing= 1.873817422860387e-09)
gnb.fit(X,y)
y_pred=gnb.predict(X_test)
gnb_accuracy= accuracy_score(y_test, y_pred)
gnb_accuracy

0.7708333333333334

## The Accuracy of All Classifiers

In [32]:
print('Decision Tree:  ','Accuracy:  ',DT_accuracy)
print('KNN:  ','Accuracy:',knn_accuracy)
print('SVM:  ','Accuracy:  ',svn_accuracy)
print('Random Forest:  ','Accuracy:  ',rf_accuracy)
print('Naive Bayes:  ','Accuracy:  ',gnb_accuracy)
print('Logistic regression:  ','Accuracy:  ',lr_accuracy)

Decision Tree:   Accuracy:   0.75
KNN:   Accuracy: 0.6666666666666666
SVM:   Accuracy:   0.7708333333333334
Random Forest:   Accuracy:   0.75
Naive Bayes:   Accuracy:   0.7708333333333334
Logistic regression:   Accuracy:   0.75

## The Best Classifier

In [33]:
print("The best algorithm is Naiv Bayes with an accuracy of  ", gnb_accuracy)

The best algorithm is Naiv Bayes with an accuracy of   0.7708333333333334